<div #container class="note-card-container">
  <div class="notes-card-content">
    <h1 class="note-card-title">Lorem Ipsum</h1>
    <div class="note-card-body">
      <p>BOdy text Body text BOdy text Body text BOdy text Body text BOdy text Body text BOdy text Body text BOdy text
        Body text BOdy text Body text BOdy text Body text BOdy text Body text BOdy text Body text BOdy text Body text
        BOdy text Body text</p>
      <div class="fade-out-truncation"></div>
    </div>
  </div>

  <div class="x-button">
    <i class="fa-solid fa-trash" style="color: rgba(196, 0, 0, 0.75)"></i>
  </div>
</div>
