<div class="form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="updateNoteForm">
    <div class="field">
      <label class="label">Tittle</label>
      <div class="control">
        <input class="input" formControlName="title" type="text"/>
        <div *ngIf="getInvalidInput('title')" class="error-text">*Title of the Note is <strong>required</strong>!</div>
      </div>
    </div>
    <br/>
    <div class="field">
      <label class="label">Body</label>
      <div class="control">
        <textarea class="textarea" formControlName="body"></textarea>
      </div>
    </div>

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button (click)="cancel()" class="button is-text" type="button">Cancel</button>
      </div>

      <div class="control">
        <button [disabled]="isSubmitted || updateNoteForm.invalid" class="button is-success" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>

