@charset "utf-8";

//Changing Bulma variables and adding global styles.

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-purple: #331832;
$blue: #1B5299;
$english-violet: #694D75;
$dark-sky-blue: #427584;


$light-red: #fff3f3;

$light: #fff;

$green: #0bf387;

// Update Bulma's global variables
$family-sans-serif: 'Times New Roman', sans-serif;
$primary: $english-violet;
$link: $dark-sky-blue;

// Update some of Bulma's component variables
$body-background-color: $light;


$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;


//Global Styles

html, body {
  height: 100%;

  //Default font-size
  font-size: 18px !important;

  overflow: hidden;
}
